body {
    background-color: #FFF0F0;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto;
    gap: 12% 0;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    margin-top: 2.5%;
    justify-items: center;
    align-items: center;
}

.container .img-container {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}
.container .item {
    flex: 0 0 30%;
    width: 100%;
    height: auto;
    object-fit: contain;
}

button {
    height: 40px;
    background-color: #F81B3F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    border-radius: 15px;
}
