html, body {
  margin: 0;
  padding: 0;
}

@media (orientation: portrait) {
    .bg {
        background-image: url('res/letter-1Portrait.png');
        width: 100vw;
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (orientation: landscape) {
    .bg {
        background-image: url('res/letter-1.png');
        width: 100vw;
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.butt {
    background-color: #F81B3F;
    font-family: 'Source serif 4';
    font-weight: 400;
    font-style: italic;
    font-size: 102px;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: fit-content;
    text-align: center;
    text-decoration: none;
}
