body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8D0000;
}
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    display: block;
    font-family: 'Great Vibes', cursive !important;
    font-size: 62px;
    color: #EEEEEE;
    text-align: center;
}

.butt {
    background-color: #F81B3F;
    font-family: 'Source serif 4';
    font-weight: 400;
    font-style: italic;
    font-size: 102px;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: fit-content;
    text-align: center;
    text-decoration: none;
}
