html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url('res/letter-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.butt {
    background-color: #F81B3F;
    font-family: 'Source serif 4';
    font-weight: 400;
    font-style: italic;
    font-size: 102px;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: fit-content;
    text-align: center;
    text-decoration: none;
}
