html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow: auto;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.butt {
    background-color: #F81B3F;
    font-family: 'Source serif 4';
    font-weight: 400;
    font-style: italic;
    font-size: 102px;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: fit-content;
    text-align: center;
    text-decoration: none;
}
